/* Empty. Add your own CSS if you like */


.listAddr {
    position: absolute;
    right: 5px;
    top: 5px;
}

.smallIcon {
    font-size:1px !important;
}

btnToRight {
    position: absolute;
}

.nameAddress {
    margin-right: 5%;
}

.comment {
    font-size:10px;
}


#bname {
    color:#0080FF;
    display:inline;
}

#update {
    color:#00cccc;
    display:inline;
    font-size:12px;
    margin-right: 50px;
    font-style: italic;
}

#address {
    color:#A4A4A4;
}

#locationIcon {
    width: 56px;
}