/* Empty. Add your own CSS if you like */



.listAddr {
    position: absolute;
    right: 10px;
    top: 10px;
}

.smallIcon {
/*    right: 10px;*/
/*    height: 30px;*/
    width: 25px;
/*    size: 10px;*/
/*    font-size: 14px;*/
/*    line-height:29px !important;*/
/*    background-color:red;*/
}

btnToRight {
/*    right: 10px;*/
    position: absolute;
}
