<ion-view view-title="Brother List">
    <ion-nav-buttons side="right">
        <button class="button icon ion-plus-round" ng-click="addBroButton() ">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        
        <ion-list>
            <ion-item ng-repeat="item in items">
                <div>
                    <p>Name: {{item["id"]}}</p>
                    <p>Address: {{item["id"]}}</p>
                    <div class="listAddr">
                        <button class="button-small icon ion-ios-telephone smallIcon" ng-click="test()"></button>
                        <button class="button-small icon ion-ios-location smallIcon" ng-click="test()"></button>
                    </div>
                    <p>Comments: {{item["id"]}}</p>
                </div>
            </ion-item>
        </ion-list>
</ion-view>
